.container2{

height: 400px;
position: relative;


}

// container 1
.maecenas{
    width: 25%;
    height: 400px;
    margin-left: 15%;
    position: absolute;
   
    
}

.mae{
margin-top: 25%;
font-size: 35px;

}

.Perspi{
    color: grey;
}

// container 2

.txt{
    width: 30%;
    height: 400px;
    margin-left: 50%;
    position: absolute;

}

.txt1{
    margin-top: 25%;
font-size: 15px;
color: grey;
}